
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
}
span{
    background-color: transparent;
}
.font{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal; 
    letter-spacing: 0.6px;
}
.app-container {

}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18rem;
    margin-top: 0px;
    background-color: white;
    border-radius: 20px;
    height: 50px;
}
.link{
  color: inherit;
  text-decoration: none;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    background-color: white;
}
.logo p{
    padding-right: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;    
    background-color: white;
}
.logo img{
    height: 30px;
    width: 20px;
    margin: 0 3px;
}

.nav-box{
    display: flex;
    gap: 4rem;
    background-color: white;
}
.nav-box li{
    list-style: none;
    background-color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal; 
}
/* .contact-box{
    margin-left: 10rem;
    background-color: white;
} */
/* .contact-box p{
    background-color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal; 
    letter-spacing: 0.6px;
} */


/* title */

.title{
    display: flex;
    margin-left: 5rem;
    align-items: center;
    margin-top: 100px;
}
.title h1{
    font-size: 100px;
    letter-spacing: 0px;
    line-height: 120px;
}

/* problems */
.block-one{
    display: flex;
    margin-top: 4rem;
    gap: 1rem;
}
.tile-one {
    background-color: #c1bef9c2;
    border-top-right-radius: 40px;
    height: 250px;
    width: 530px;
    margin-left: 5rem;
    display: flex;
    padding:20px;
    gap: 10px;
    align-items: center;
}
.tile-one div{
    color: #7974d0c2;
    font-size: 55px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background-color: transparent;
    letter-spacing: 0.6px;

}
.tile-one img{
    height: 200px;
    width: 200px;
    border-radius: 30px;
    margin: 0 auto;
}
.tile-one{
    background-color: #c1bef9c2;
}
.tile-two{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dadce0;
    height: 200px;
    width: 200px;
    margin-top: 90px;
    border-radius: 30px;
}
.tile-three{
    background-color: #d8e4cb;
    height: 250px;
    width: 575px;
    border-top-left-radius: 40px;
    padding: 20px;
    display: flex;
    align-items: center;
}
.tile-three div{
    color: #7e9b7d;
    font-size: 55px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background-color: transparent;
    letter-spacing: 0.6px;
}
.tile-three img{
    border-radius: 20px;
}
.block-two{
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
    margin-bottom: 6rem;
}
.tile-four{
    background-color: #f0e6da;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 200px;
    width: 420px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.tile-four div{
    color: #d9bfae;
    font-size: 45px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background-color: transparent;
    letter-spacing: 0.6px;
    margin-left: 10px;

}
.tile-four img{
    height: 150px;
    width: 190px;
    border-radius: 20px;
}
.tile-five{
    background-color: #b1c5d9;
    height: 300px;
    width: 700px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tile-five div{
    color: #6e8fa3;
    font-size: 90px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background-color: transparent;
    letter-spacing: 0.6px;
    margin-left: 10px;
    line-height: 90px;
    text-align: center;

}
.tile-six{
    background-color: rgba(71, 70, 70, 0.912);
    height: 200px;
    width: 280px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tile-six div{
    color: white;
    font-size: 25px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background-color: transparent;
    letter-spacing: 0.6px;
    margin-left: 10px;
}
.tile-six img{
    height: 150px;
    width: 100px;
    margin-top: 10px;
}
/* #f8f9fa */


.text-center {
    text-align: center;
  }
  
  .d-flex {
    display: flex;
  }
  
  .justify-content-center {
    justify-content: center;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .h-100 {
    height: 100%;
  }
  
  .position-absolute {
    position: absolute;
  }
  
  .fw-bold {
    font-weight: bold;
  }
  
  .display-1 {
    font-size: 4rem;
  }
  
  .tle{
    margin-top: 50px;
    font-size: 30px;
    background-color: transparent;
    color:white;
    font-family: 'Courier New', Courier, monospace;
  }
  .container{
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: black;
  }
  .input{
    height: 30px;
    width: 400px;
    border-radius: 15px;
    padding: 10px;
  }
  .btn{
    height: 30px;
    width: 200px;
    border-radius: 20px;
  }


  .roadmap-container {
    margin: 20px auto;
    padding: 20px;
    max-width: 900px;
    height: inherit;
    background-color: #f4f8fb;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .roadmap h2{
    font-family: "Poppins", sans-serif;
    font-size: 50px;
  }
  .roadmap p{
    font-family:  "Poppins", sans-serif;
    font-size: 13px;
  }
  .roadmap p strong{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
  }
  .roadmap ul{

  }
  .roadmap-content ul {
    margin-left: 20px;
    padding-left: 0;
  }
  
  .roadmap li {
    
  }
  
  .roadmap-content p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
  }
  
  .roadmap-content a {
    color: #2a71d0;
    text-decoration: underline;
  }
  
  .roadmap-content a:hover {
    color: #184a8c;
    text-decoration: none;
  }

  

 
  
  header {
    background-color: #f5ba13;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  
  header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
  }
  
  footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
  
  footer p {
    color: #ccc;
  }
  .note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
  }
  .note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
  }
  .note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .note button {
    position: relative;
    float: right;
    margin-right: 10px;
    color: #f5ba13;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
  }
  
  form.create-note {
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }
  form.create-note input,
  form.create-note textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
  }
  form.create-note button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: #f5ba13;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
  }
  /* todo */
  